# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.sqlite3
*.log
/media/
staticfiles/
*.pot
*.pyc
*.mo

# Entornos
env/
venv/
mi_entorno/

# VSCode
.vscode/

# Archivos de entorno
.env
.env.*

# Migrations (opcional)
**/migrations/*.py
**/migrations/__pycache__/
