{% extends 'base/comision.html' %} {% block title %} Perfil | Comision Principal
{% endblock title %} {% block content %}
<h1 class="text-2xl font-bold mb-6">Perfil</h1>

<div class="bg-white shadow rounded p-6">
  <p class="mb-4">Contenido de la sección Perfil.</p>

  {% if comision.usuario.nombre %}
  <h2 class="text-xl font-semibold text-gray-800">
    Nombre: {{ comision.usuario.nombre }}
  </h2>
  {% else %}
  <p class="text-red-500">El nombre del usuario no está disponible.</p>
  {% endif %} {% if comision.usuario.correo %}
  <h2 class="text-xl font-semibold text-gray-800 mt-2">
    Correo: {{ comision.usuario.correo }}
  </h2>
  {% else %}
  <p class="text-red-500">El correo del usuario no está disponible.</p>
  {% endif %} {% if comision.usuario.rol %}
  <h2 class="text-xl font-semibold text-gray-800 mt-2">
    Rol: {{ comision.usuario.rol.nombre }}
  </h2>
  {% endif %}
</div>
{% endblock content %}

<script>
  // Script para manejar el toggle del menú
  document.getElementById("menu-toggle").addEventListener("click", function () {
    const sidebar = document.getElementById("sidebar");
    sidebar.classList.toggle("-translate-x-full");
  });
</script>
