html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header{
    background: #0c969c; 
    color: white; 
    padding: 1rem;
}

.div-options-left{
    width: 220px; 
    background: #274d60 ;
    color: white; 
    padding: 1rem
}
.div-header{
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0;
}
#iniciar-sesion{
    margin: auto 2rem;
    text-decoration: none;
    color: #ecf0f1;
    font-size: 15px;
    background: #6ba3be;
    padding: 0.8rem;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#iniciar-sesion:hover{
    background-color: #0c969c;
}

.nav-list {
    padding: 0.5rem;
    margin: 0.2rem auto;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-options{
    color: white; 
    text-decoration: none;
    padding: 1rem;
    font-size: 16px;
}